@font-face {
  font-family: Quicksand;
  src: url(./backend/font/Quicksand.ttf);
}

@font-face {
  font-family: Neon Sans;
  src: url(./backend/font/NeonSans.ttf);
}

@font-face {
  font-family: Qing Ke;
  src: url(./backend/font/QingKe.ttf);
}

@font-face {
  font-family: SourceHanSans-Bold;
  src: url(./backend/font/SourceHanSans-Bold.otf);
}